/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-total {
    min-height: 100%;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.25;
    padding: 20px 15px;
    .tile-title-wrap {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 5px;
    }
    .tile-title-inner {
        display: block;
        flex: 1;
        padding: 5px 10px 5px 0;
        &.title-row {
            display: flex;
            align-items: center;
            .tile-title {
                padding-right: 30px;
                flex-shrink: 0;
                max-width: 160px;
            }
        }
    }
    .tile-ico {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }
    .tile-title-total {
        display: block;
        font-size: 30px;
        color: var(--clr-title);
        font-weight: bold;
    }
    .tile-title {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    .tile-row {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.item-tile-object {
    font-size: 12px;
    line-height: 1.25;
    color: var(--clr-title);
    position: relative;
    z-index: 2;
    .tile-actions-wrap {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--clr-border);
        &.text-center {
            justify-content: center;
        }
        .tile-action-wrap {
            flex-shrink: 0;
            margin: 0 0 5px 10px;
            &:first-child {
                margin-left: 0;
            }
        }
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
        .btn {
            padding: 0 10px;
            flex-shrink: 0;
            min-width: 0;
            &.btn-info {
                .button-ico {
                    width: 16px;
                    height: 16px;
                }
            }
            .button-ico {
                width: 24px;
                height: 24px;
                margin: 0 5px;
                &:first-child {
                    margin-left: 0;
                    &:last-child {
                        margin: 0 -8px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .tile-title-wrap {
        position: static;
        font-size: 14px;
        line-height: 1.25;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 3px;
            background: #F5F5F5;
            border: 2px solid #F5F5F5;
            transition: all ease 0.2s;
            z-index: -1;
        }
        &:hover {
            &:before {
                border-color: #C2C7D0;
                background-color: #F7F8FA;
            }
            .tile-title {
                color: var(--primary);
                .tile-number {
                    color: inherit;
                }
            }
        }
        &.active {
            padding-top: 10px;
            &:before {
                border-color: var(--primary);
                background-color: #fff;
            }
            .tile-action {
                .link-main {
                    &:before {
                        content: attr(data-hide);
                    }
                }
            }
        }
    }
    .tile-content-block {
        display: none;
        padding: 0 10px 10px 10px;
        animation: fadein ease 0.2s;
    }
    .tile-title-wrap.active+.tile-content-block {
        display: block;
    }
    .tile-row {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-title {
        display: block;
        position: relative;
        flex: 1;
        padding: 0 10px 0 0;
        color: #869099;
        .tile-number {
            color: var(--clr-base);
            display: inline;
        }
    }
    .tile-action {
        flex-shrink: 0;
        .link-main {
            color: var(--primary);
            z-index: 2;
            &:before {
                content: attr(data-show);
            }
        }
    }
    .btn-action-icon {
        color: var(--primary);
        height: auto;
        padding: 0;
        .button-ico {
            width: 24px;
            height: 24px;
            margin-top: -5px;
            margin-bottom: -5px;
            filter: none;
            &+.button-title {
                padding-left: 0;
                margin-left: 10px;
            }
        }
    }
    .tile-status-text {
        font-size: 10px;
        &.st-large {
            font-size: 1em;
        }
    }
}
.item-tile-order {
    font-size: 12px;
    line-height: 1.25;
    padding: 10px;
    .tile-order-title-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .tile-order-text-wrap {
        margin-bottom: 5px;
    }
    .tile-order-info-wrap {
        font-size: 11px;
        display: flex;
        align-items: center;
    }
    .tile-order-info {
        flex-shrink: 0;
        display: flex;
        padding-left: 10px;
        color: #869099;
        align-items: center;
    }
    .tile-order-date {
        margin-right: 10px;
        flex-shrink: 0;
    }
    .tile-order-total {
        flex-shrink: 0;
    }
    .tile-order-user {
        flex: 1;
    }
    .tile-order-title {
        font-size: 14px;
        font-weight: bold;
        flex: 1;
        .tile-status {
            margin-left: 10px;
            margin-top: -2px;
        }
    }
    .tile-order-link {
        display: block;
        flex-shrink: 0;
        padding-left: 10px;
        
    }
    .btn-action-icon {
        color: inherit;
        line-height: 1.25;
        height: auto;
        .button-ico {
            filter: none;
            width: 18px;
            height: 18px;
            &+.button-title {
                padding-left: 5px;
            }
        }
    }
    p {
        margin: 0;
    }
    
}
.item-tile-card {
    padding: 10px;
    font-size: 14px;
    line-height: 1.25;
    .tile-content-wrap {
        margin: 0 -10px;
    }
    .item-tile-order {
        &:nth-child(2n) {
            background: #F7F8FA;
        }
    }
    .tile-footer-wrap {
        text-align: center;
        font-size: 12px;
        padding-top: 10px;
    }
    .tile-content-wrap {
        margin: 0 -10px;
        padding: 10px 0;
    }
    .tile-title-wrap {
        padding: 0 0 5px 0;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--clr-border);
        .tile-ico {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin: 0 8px 0 0;
        }
        .tile-title {
            display: block;
            font-weight: bold;
            margin: 0;
        }
    }
    table {
        margin: 0;
        font-size: 12px;
        line-height: 1.25;
        .text-large {
            display: inline;
            font-size: 14px;
        }
        .text-title {
            display: inline;
        }
        th, td {
            vertical-align: top;
            text-align: left;
        }
        .elm-ico {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin: -2px 5px 0 5px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.03);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    //transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
    }
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-legend {
    display: block;
    position: relative;
    padding-left: 22px;
    .elm-status {
        position: absolute;
        top: 50%;
        left: 0;
        margin: -8px 0 0 0;
		width: 15px;height: 15px;
		&.bg-primary {
			background-color: #1A73E8 !important;
		}
		&.bg-success {
			background-color: #219653 !important;
		}
		&.bg-warning {
			background-color: #F2994A !important;
		}
		&.bg-danger {
			background-color: #F20000 !important;
		}
		&.bg-purple {
			background-color: #1E00CC !important;
		}
    }
    .elm-ico {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -8px;
        border-radius: 50%;
        img, svg {
            max-width: 11px;
            max-height: 11px;
        }
    }
}
.elm-user {
    display: flex;
    align-items: center;
    color: var(--clr-base);
    .elm-ico {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: relative;
        flex-shrink: 0;
        margin: 0 10px 0 0;
        border: 1px solid var(--clr-border);
    }
}
.elm-status-text, .tile-status-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 2px 5px;
    color: #fff;
    max-width: 100%;
    white-space: nowrap;
    background: #343A40;
    border-radius: 5px;
    &.bg-pink-light {
        background-color: #FDA5AD;
        color: var(--clr-title);
    }
    &.bg-gray-lighten {
        background-color: #BDBDBD;
    }
    &.st-large {
        padding: 3px 5px;
    }
}
.elm-status, .tile-status {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    &:last-child {
        margin-right: 0;
    }
}
.elm-row, .tile-row {
    display: flex;
    &.row-col {
        display: block;
        .row-value {
            text-align: left;
        }
        .row-title {
            padding-right: 0;
        }
    }
    &.row-main {
        .row-title, .row-value {
            min-width: 0;
            color: inherit;
        }
    }
    .row-title {
        flex: 1;
        padding: 0 10px 0 0;
        color: #869099;
        &:last-child {
            padding-right: 0;
        }
    }
    .row-value {
        flex-shrink: 0;
        text-align: right;
        min-width: 120px;
    }
    &.row-head {
        .row-title {
            font-weight: 600;
            color: var(--clr-title);
        }
    }
    &.row-full {
        display: block;
        .row-title {
            padding-right: 0;
        }
        .row-value {
            width: 100%;
            min-width: 0;
            text-align: left;
        }
    }
}
.elm-point {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--warning);
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    img, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 27px;
        height: 27px;
    }
}
@media (max-width: 1599px) {
    .item-tile-card {
        table.tbl-adaptive {
            display: block;
            position: relative;
            thead {
            	display: none;
            }
            tbody,
            tr,
            td,
            th {
            	display: block;
            	width: 100%;
            	min-width: 100%;
            	max-width: 100%;
            	width: 100%\9;
            	float: left\9;
            	position: relative;
            	overflow: hidden;
                border: none;
                padding: 0;
            }
            tr {
                padding: 10px 100px 5px 10px;
                overflow: visible;
                td, th {
                    margin-bottom: 5px;
                    position: relative;
                    z-index: 2;
                    &:last-child {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 100px;
                        text-align: right;
                        z-index: 1;
                        a {
                            z-index: 3;
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
                .text-title {
                    display: block;
                    margin-bottom: 5px;
                }
                .elm-ico {
                    margin-left: 0;
                }
            }
        }
    }
}
@media (max-width: 374px) {
	.item-tile-card table .text-large {
		font-size: 12px;
	}
}
@media (min-width: 993px) {
    .item-tile-total {
        .tile-title-inner {
            &.title-row {
                display: block;
                .tile-title {
                    padding-right: 0;
                    max-width: inherit;
                }
            }
        }
    }
    .item-tile-card {
        padding: 20px 20px 20px 20px;
        .tile-title-wrap {
            padding-bottom: 9px;
            padding-right: 100px;
        }
        .tile-content-wrap {
            padding: 20px 0 0 0;
            margin: 0 -20px;
        }
        .tile-footer-wrap {
            padding: 0;
            height: 24px;
            line-height: 24px;
            float: left;
            width: auto;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 2;
        }
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    
}
@media (min-width: 1600px) {
    .item-tile-card {
        table {
            th, td {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
