<!-- Navbar -->
<nav class="main-header header">
	<div class="logo-wrap">
		<a href="" class="logo">
			<span class="logo-image">
				<img src="./img/main/logo.svg" alt="">
			</span>
			<span class="logo-title">CRM</span>
		</a>
	</div>
	<div class="user-wrap">
		<a href="" class="btn-action-user">
			<span class="button-ico">
				<img src="./img/icons/user.svg" alt="">
			</span>
			<span class="button-title">Имя Фамилия</span>
		</a>
	</div>
	<div class="actions-wrap">
		<div class="action-wrap action-notify">
			<a href="" class="btn-action-icon">
			<span class="button-ico">
				<img src="./img/icons/notify.svg" alt="">
			</span>
				<span class="button-title">Оповещения</span>
			</a>
		</div>
		<div class="action-wrap action-settings">
			<a href="" class="btn-action-icon">
			<span class="button-ico">
				<img src="./img/icons/settings.svg" alt="">
			</span>
			</a>
		</div>
		<div class="action-wrap action-search">
			<a href="" class="btn-action-icon">
				<span class="button-ico">
					<img src="./img/icons/search.svg" alt="">
				</span>
			</a>
		</div>
		<div class="action-wrap action-exit">
			<a href="" class="btn-action-icon">
				<span class="button-ico">
					<img src="./img/icons/exit.svg" alt="">
				</span>
			</a>
		</div>
	</div>
	<div class="button-wrap">
		<button class="btn btn-primary">
			<span class="button-ico">
				<img src="./img/icons/button01.svg" alt="">
			</span>
			<span class="button-title">Установите важные разделы для вас</span>
		</button>
	</div>
</nav>
<!-- /.navbar -->

<!--mobile panel box-->
<div class="mobile-panel-box">
	<a href="" class="btn-action-ico js-btn-filter-toggle">
		<img src="./img/icons/panel01.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel02.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel03.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel04.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel05.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel06.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel07.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel08.svg" alt="">
	</a>
</div>
<!--/mobile panel box-->