<!-- Navbar -->
<!--<nav class="main-header header">-->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a href="" class="logo">
				<span class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</span>
				<span class="logo-title">CRM</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="" class="btn-action-ico ico-menu js-side-menu-toggle"></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="" class="btn-action-user">
				<span class="button-ico">
					<img src="./img/icons/user.svg" alt="">
				</span>
				<span class="button-title">Имя Фамилия</span>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="" class="btn-action-icon button-notify">
			<span class="button-ico">
				<img src="./img/icons/notify.svg" alt="">
			</span>
				<span class="button-title">Оповещения</span>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="" class="btn-action-icon">
			<span class="button-ico">
				<img src="./img/icons/settings.svg" alt="">
			</span>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="" class="btn-action-icon">
				<span class="button-ico">
					<img src="./img/icons/search.svg" alt="">
				</span>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="" class="btn-action-icon button-exit">
				<span class="button-ico">
					<img src="./img/icons/exit.svg" alt="">
				</span>
			</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn01.svg" alt="">
				</span>
				<span class="button-title">Заявки</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu active">
				<span class="button-ico">
					<img src="./img/icons/btn02.svg" alt="">
				</span>
				<span class="button-title">Активные заявки</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn03.svg" alt="">
				</span>
				<span class="button-title">Добавить</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn04.svg" alt="">
				</span>
				<span class="button-title">Закрытые</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn05.svg" alt="">
				</span>
				<span class="button-title">Архив</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn06.svg" alt="">
				</span>
				<span class="button-title">Импорт</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn07.svg" alt="">
				</span>
				<span class="button-title">Статистика</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn08.svg" alt="">
				</span>
				<span class="button-title">Контроль</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn09.svg" alt="">
				</span>
				<span class="button-title">Поиск дублей</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn10.svg" alt="">
				</span>
				<span class="button-title">Удаление</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn11.svg" alt="">
				</span>
				<span class="button-title">Рейтинг</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-menu">
			<button class="btn btn-default button-menu">
				<span class="button-ico">
					<img src="./img/icons/btn12.svg" alt="">
				</span>
				<span class="button-title">Сообщения к заявкам</span>
				<span class="btn-action-ico ico-del"></span>
			</button>
		</li>
		<li class="nav-item nav-item-dotted nav-item-last js-popup-wrap">
			<button class="btn js-btn-popup-toggle">
				<span class="button-ico">
					<img src="./img/icons/more-vertical.svg" alt="">
				</span>
			</button>
			<div class="nav-submenu js-popup-block">
				<a href="" class="btn-action-ico ico-close js-btn-popup-close"></a>
				<ul id="nav-submenu">
					
				</ul>
			</div>
			<button class="btn btn-primary button-categories js-side-menu-widget-toggle">
				<span class="button-ico">
					<img src="./img/icons/button01.svg" alt="">
				</span>
				<span class="button-title">Установите важные разделы для вас</span>
			</button>
		</li>
	</ul>
<!--	<div class="logo-wrap">
		<a href="" class="logo">
			<span class="logo-image">
				<img src="./img/main/logo.svg" alt="">
			</span>
			<span class="logo-title">CRM</span>
		</a>
	</div>
	<div class="user-wrap">
		<a href="" class="btn-action-user">
			<span class="button-ico">
				<img src="./img/icons/user.svg" alt="">
			</span>
			<span class="button-title">Имя Фамилия</span>
		</a>
	</div>
	<div class="actions-wrap">
		<div class="action-wrap action-notify">
			<a href="" class="btn-action-icon">
			<span class="button-ico">
				<img src="./img/icons/notify.svg" alt="">
			</span>
				<span class="button-title">Оповещения</span>
			</a>
		</div>
		<div class="action-wrap action-settings">
			<a href="" class="btn-action-icon">
			<span class="button-ico">
				<img src="./img/icons/settings.svg" alt="">
			</span>
			</a>
		</div>
		<div class="action-wrap action-search">
			<a href="" class="btn-action-icon">
				<span class="button-ico">
					<img src="./img/icons/search.svg" alt="">
				</span>
			</a>
		</div>
		<div class="action-wrap action-exit">
			<a href="" class="btn-action-icon">
				<span class="button-ico">
					<img src="./img/icons/exit.svg" alt="">
				</span>
			</a>
		</div>
	</div>
	<div class="button-wrap">
		<button class="btn btn-primary">
			<span class="button-ico">
				<img src="./img/icons/button01.svg" alt="">
			</span>
			<span class="button-title">Установите важные разделы для вас</span>
		</button>
	</div>-->
</nav>
<!-- /.navbar -->


<!--mobile panel box-->
<div class="mobile-panel-box">
	<a href="" class="btn-action-ico js-btn-filter-toggle">
		<img src="./img/icons/panel01.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel02.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel03.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel04.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel05.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel06.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel07.svg" alt="">
	</a>
	<a href="" class="btn-action-ico">
		<img src="./img/icons/panel08.svg" alt="">
	</a>
</div>
<!--/mobile panel box-->







