<!-- Main menu Container -->
<aside class="popup-menu-wrap js-side-menu">
	<div class="menu-content-block">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-side-menu-close"></a>
		<div class="menu-wrap">
			<ul class="menu">
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/side-menu01.svg" alt="">
					</span>
						<span class="button-title">Заявки</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu active">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu02.svg" alt="">
				</span>
						<span class="button-title">Сообщения к заявкам</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu03.svg" alt="">
				</span>
						<span class="button-title">Счета</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu04.svg" alt="">
				</span>
						<span class="button-title">Конструктор выгрузки</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu05.svg" alt="">
				</span>
						<span class="button-title">Финансы</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu06.svg" alt="">
				</span>
						<span class="button-title">KPI</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu07.svg" alt="">
				</span>
						<span class="button-title">Пользователи</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu08.svg" alt="">
				</span>
						<span class="button-title">Заказчики</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu09.svg" alt="">
				</span>
						<span class="button-title">Зоны и объекты</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu10.svg" alt="">
				</span>
						<span class="button-title">Трекер авто</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu11.svg" alt="">
				</span>
						<span class="button-title">Оповещения</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu12.svg" alt="">
				</span>
						<span class="button-title">Предложения</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu13.svg" alt="">
				</span>
						<span class="button-title">Настройки</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu14.svg" alt="">
				</span>
						<span class="button-title">Справочники</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<div class="btn-menu-toggle js-btn-menu-toggle"></div>
					<a href="" class="btn-menu">
				<span class="button-ico">
					<img src="./img/icons/side-menu15.svg" alt="">
				</span>
						<span class="button-title">Логи</span>
						
					</a>
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Активные</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Добавить</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Закрытые</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Архив</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Импорт</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Статистика</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контроль</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Поиск дублей</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Удаление</span>
								
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Рейтинг</span>
								
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</aside>
<!-- /Main menu Container -->